<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<!-- 
Arquivo angular para chamar o controlador
<script type="text/javascript" src="/js/.js"></script> 
-->
<script type="text/javascript">
$(document).ready(function() {
	/*
	Informe o Id do menu que você quer selecionado
	$('#home').addClass("active");
	*/
});
</script>
<body>
	<% include basic/navbar %>
	
	<!-- 
	Aqui é necessário informar o controlador para escopo do angular
	<div class="jumbotron" ng-controller="controlador" ng-init="init()"> 
	-->

	<div class="jumbotron">
		<div class="container">
			
		</div>
	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>