<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<met<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">

<meta name="description" content="">
<title>PDV</title>
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/basic/bootstrap.min.css'>
<link rel='stylesheet' href='/css/basic/bootstrap-theme.min.css'>
<script src="/js/basic/jquery-3.1.0.min.js"></script>
<script	src="/js/basic/bootstrap.min.js"></script>
<script src="/js/basic/angular.min.js"></script>
</head>