<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script type="text/javascript" src="/js/cadProduto.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#produto').addClass("active");
});
</script>
<body>
	<% include basic/navbar %>
	<div class="jumbotron" ng-controller="controlador" ng-init="init()"> 
		<div class="container">
			<form class="form-horizontal">
				<h3>Produto</h3>
				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo">Codigo:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" ng-model="produto.codigo">
					</div>
					<label class="col-md-1 control-label" for="codigo">Nome:</label>
					<div class="col-md-5">
						<input class="form-control" id="codigo" ng-model="produto.descricao" ng-focus="getCodigoNovo()">
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input ng-model="ativado" 
									name="ativo" 
									type="checkbox">
							Ativo
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo">Codigo de Barras:</label>
					<div class="col-md-10">
						<input class="form-control" id="codigo" ng-model="produto.codigoBarras">
					</div>
				</div>
				

				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Categoria:</label>
					<div class="col-md-10">
						<select ng-model="produto.categoria" ng-options="item.id as item.name for item in categorias" class="form-control"></select>
					</div>
				</div>

				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Fornecedor:</label>
					<div class="col-md-10">
						<select ng-model="produto.fornecedor" ng-options="item.id as item.name for item in fornecedores" class="form-control"></select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo">Valor de Compra:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" ng-model="produto.precoCompra">
					</div>
					<label class="col-md-2 control-label" for="codigo">Valor de Venda:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" ng-model="produto.precoUnitario">
					</div>
					<label class="col-md-2 control-label" for="codigo">Estoque Mínimo:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" ng-model="produto.quantidadeEstoque">
					</div>
				</div>

				<div class="form-group">
					 <div class="col-md-offset-2 col-md-10">
					 	<input class="btn btn-primary" value="Gravar" ng-click="salvar()"/>
						<input class="btn btn-default" value="Cancelar" ng-click="cancelar()"/>
					 </div>
				</div>
			</form>

			<table class="table table-bordered table-hover" ng-show="resultadoPesquisado.length > 0">
				<thead>
					<th>
						Codigo
					</th>
					<th>
						Nome
					</th>
					<th>
						Codigo de Barras
					</th>
					<th>
						Categoria
					</th>
					<th>
						Fornecedor
					</th>
					<th>
						Valor de Compra
					</th>
					<th>
						Valor de Venda
					</th>
					<th>
						Estoque Mínimo
					</th>
					<th>
						Data Cadastro
					</th>
					<th>
						Data Alteração
					</th>
				</thead>
				<tr ng-repeat="produto in produtos" 
					ng-dblclick="editarProduto(produto)">
					<td>
						<span ng-bind="produto.codigo"></span>
					</td>
					<td>
						<span ng-bind="produto.descricao"></span>
					</td>
					<td>
						<span ng-bind="produto.codigoBarras"></span>
					</td>
					<td>
						<span ng-bind="produto.precoCompra"></span>
					</td>
					<td>
						<span ng-bind="produto.precoUnitario"></span>
					</td>
					<td>
						<span ng-bind="produto.quantidadeEstoque"></span>
					</td>
					<td>
						<span ng-bind="produto.dataCadastro"></span>
					</td>
					<td>
						<span ng-bind="produto.dataAlteracao"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>