<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script type="text/javascript" src="/js/cadCategoria.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#home').addClass("active");
});
</script>
<body>
	<% include basic/navbar %>
	<div class="jumbotron" ng-controller="controlador" ng-init="init()"> 
		<div class="container">
			<form class="form-horizontal">
				<h3>Categorias</h3>

				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Categoria:</label>
					<div class="col-md-8">
						<input class="form-control" id="codigo" ng-model="categoria.nome">
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input ng-model="ativado" 
									name="ativo" 
									type="checkbox">
							Ativo
						</label>
					</div>
				</div>
				<div class="form-group">
					 <div class="col-md-offset-2 col-md-10">
					 	<input class="btn btn-primary" value="Gravar" ng-click="salvar()"/>
						<input class="btn btn-default" value="Cancelar" ng-click="cancelar()"/>
					 </div>
				</div>
			</form>

			<table class="table table-bordered table-hover">
				<thead>
					<th>
						Categoria
					</th>
					<td>
						Data de Alteração
					</td>
					<th>
						Ações
					</th>
				</thead>
				<tr ng-repeat="categoria in categorias" ng-dblclick="editar(categoria)">
					<td>
						<span ng-bind="categoria.nome"></span>
					</td>
					<td>
						<span ng-bind="categoria.dataalteracoes"></span>
					</td>
					<td>
						<div>
							<input class="btn btn-default col-md-6" value="Alterar" ng-click="editar(categoria)"/>
							<input class="btn btn-danger col-md-6" value="Excluir" ng-click="excluir(categoria.id)"/>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>