<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script type="text/javascript" src="/js/cadFornecedor.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#fornecedor').addClass("active");
});
</script>
<body>
	<% include basic/navbar %>
	<div class="jumbotron" ng-controller="controlador" ng-init="init()"> 
		<div class="container">
			<form class="form-horizontal">
				<h3>Fornecedores</h3>

				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Fornecedor:</label>
					<div class="col-md-4">
						<input class="form-control" id="codigo" ng-model="fornecedor.nome">
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input ng-model="ativado" 
									name="ativo" 
									type="checkbox">
							Ativo
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Contato:</label>
					<div class="col-md-6">
						<input class="form-control" id="codigo" ng-model="fornecedor.contato">
					</div>
				</div>
				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Telefone:</label>
					<div class="col-md-6">
						<input class="form-control" id="codigo" ng-model="fornecedor.telefone">
					</div>
				</div>
				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Endereço:</label>
					<div class="col-md-6">
						<input class="form-control" id="codigo" ng-model="fornecedor.endereco">
					</div>
				</div>
				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label">Observações:</label>
					<div class="col-md-6">
						<textarea class="form-control" rows="5" ng-model="fornecedor.observacoes"></textarea>
					</div>
				</div>

				<div class="form-group">
					 <div class="col-md-offset-2 col-md-6">
					 	<input type="button" class="btn btn-primary" value="Gravar" ng-click="salvar()"/>
						<input type="button" class="btn btn-default" value="Cancelar" ng-click="cancelar()"/>
					 </div>
				</div>
			</form>

			<table class="table table-bordered table-hover">
				<thead>
					<th>
						Nome
					</th>
					<th>
						Contato
					</th>
					<th>
						Telefone
					</th>
					<th>
						Endereço
					</th>
					<th>
						Observações
					</th>
					<th>
						Ações
					</th>
				</thead>
				<tr ng-repeat="fornecedor in fornecedores | orderBy : 'nome'">
					<td>
						<span ng-bind="fornecedor.nome"></span>
					</td>
					<td>
						<span ng-bind="fornecedor.contato"></span>
					</td>
					<td>
						<span ng-bind="fornecedor.telefone"></span>
					</td>
					<td>
						<span ng-bind="fornecedor.endereco"></span>
					</td>
					<td>
						<span ng-bind="fornecedor.observacoes"></span>
					</td>
					<td>
						<div>
							<span class="btn btn-default glyphicon glyphicon-pencil" aria-hidden="true" ng-click="editar(fornecedor)"></span>
							<!-- <span class="btn btn-danger glyphicon glyphicon-remove" aria-hidden="true" ng-click="excluir(fornecedor.id)"></span> -->
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div id="alerts" class="modal fade">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div>
					<div ng-repeat="alert in alerts" 
						ng-class="{'alert-success': alert.tipo==1, 'alert-info': alert.tipo==2, 'alert-danger': alert.tipo==3}" class="alert fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{alert.titulo}}</strong>
						<br>{{alert.texto}}
					</div>
			    </div>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>