<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script type="text/javascript" src="/js/cadProduto.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#produto').addClass("active");
});
</script>
<body>
	<% include basic/navbar %>
	<div class="jumbotron" ng-controller="controlador" ng-init="init()"> 
		<div class="container">
			<form class="form-horizontal">
				<h3>Produto</h3>
				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo">Codigo:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" ng-model="produto.codigo">
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input ng-model="gerarAutomatico" type="checkbox" ng-change="getCodigoNovo()">
							Gerar Automático
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo">Descrição:</label>
					<div class="col-md-8">
						<input class="form-control" id="codigo" ng-model="produto.descricao">
					</div>
					<div class="checkbox col-md-2">
						<label>
							<input ng-model="ativado" 
									name="ativo" 
									type="checkbox">
							Ativo
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo">Codigo de Barras:</label>
					<div class="col-md-10">
						<input class="form-control" id="codigo" ng-model="produto.codigobarras">
					</div>
				</div>
				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label" 
							data-toggle="popover"
							data-placement="top"
							data-trigger="hover"
							data-content="Utilizado para filtros em relatórios">Categoria:</label>
					<div class="col-md-10">
						<select ng-model="produto.idcategoria" ng-options="item.id as item.nome for item in categorias" class="form-control"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="estoqueminimo" 
							class="col-md-2 control-label" 
							data-toggle="popover"
							data-placement="top"
							data-trigger="hover"
							data-content="Utilizado para avisar quando tiver poucos itens em estoque">Estoque Mínimo:</label>
					<div class="col-md-2">
						<input class="form-control" id="estoqueminimo" ng-model="produto.estoqueminimo" type="number">
					</div>
				</div>


				<div class="form-group">
					<label for="tipo" class="col-md-2 control-label" 
							data-toggle="popover"
							data-placement="top"
							data-trigger="hover"
							data-content="Último fornecedor deste produto">Fornecedor:</label>
					<div class="col-md-10">
						<select disabled="disabled" ng-model="produto.fornecedor" ng-options="item.id as item.nome for item in fornecedores" class="form-control"></select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="codigo" 
							data-toggle="popover"
							data-placement="top"
							data-trigger="hover"
							data-content="Último valor de compra sobre este produto ao efetuar compras">Valor de Compra:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" disabled="disabled" ng-model="produto.precocompra">
					</div>
					<label class="col-md-2 control-label" for="codigo" 
							data-toggle="popover"
							data-placement="top"
							data-trigger="hover"
							data-content="Último valor de venda sobre este produto ao efetuar compras">Valor de Venda:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" disabled="disabled" ng-model="produto.precounitario">
					</div>
					<label class="col-md-2 control-label" for="codigo" 
							data-toggle="popover"
							data-placement="top"
							data-trigger="hover"
							data-content="Quantidade atual do produto em estoque">Quantidade:</label>
					<div class="col-md-2">
						<input class="form-control" id="codigo" disabled="disabled" ng-model="produto.quantidadeestoque">
					</div>
				</div>

				<div class="form-group">
					 <div class="col-md-offset-2 col-md-10">
					 	<input type="button" class="btn btn-primary" value="Gravar" ng-click="salvar()"/>
						<input type="button" class="btn btn-default" value="Cancelar" ng-click="cancelar()"/>
					 </div>
				</div>
			</form>

			<table class="table table-bordered table-hover">
				<thead>
					<th>
						Codigo
					</th>
					<th>
						Nome
					</th>
					<th>
						Codigo de Barras
					</th>
					<th>
						Categoria
					</th>
					<th>
						Estoque Mínimo
					</th>
					<th>
						Ações
					</th>
				</thead>
				<tr ng-repeat="produto in produtos | orderBy : 'descricao'">
					<td>
						<span ng-bind="produto.codigo"></span>
					</td>
					<td>
						<span ng-bind="produto.descricao"></span>
					</td>
					<td>
						<span ng-bind="produto.codigobarras"></span>
					</td>
					<td>
						<span ng-bind="getNomeCategoria(produto.idcategoria)"></span>
					</td>
					<td>
						<span ng-bind="produto.estoqueminimo"></span>
					</td>
					<td>
						<div>
							<span class="btn btn-default glyphicon glyphicon-pencil" aria-hidden="true" ng-click="editar(produto)"></span>
							<!-- <span class="btn btn-danger glyphicon glyphicon-remove" aria-hidden="true" ng-click="excluir(produto.id)"></span> -->
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div id="alerts" class="modal fade">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div>
					<div ng-repeat="alert in alerts" 
						ng-class="{'alert-success': alert.tipo==1, 'alert-info': alert.tipo==2, 'alert-danger': alert.tipo==3}" class="alert fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{alert.titulo}}</strong>
						<br>{{alert.texto}}
					</div>
			    </div>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>