<!DOCTYPE html>
<html ng-app="app">
<% include basic/header %>
<script type="text/javascript" src="/js/relCompras.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#home').addClass("active");
});
</script>
<body>
	<% include basic/navbar %>
	<div class="jumbotron" ng-controller="controlador" ng-init="init()"> 
		<div class="container">
			<h3>Compras Efetuadas</h3>
			<table class="table table-bordered table-hover">
				<thead>
					<th>
						Data
					</th>
					<th>
						Compras
					</th>
					<th>
						Valor Compra
					</th>
					<th>
						Detalhes
					</th>
				</thead>
				<tr ng-repeat="dia in listaDiaCompleta track by $index">
					<td>
						<span class="valor-total" ng-bind="dia.dia | date : 'dd/MM/y'"></span>
					</td>
					<td>
						<span class="valor-total" ng-bind="dia.compras"></span>
					</td>
					<td>
						<span class="valor-total" ng-bind="dia.valor_compra | currency:'R$ '"></span>
					</td>
					<td>
						<input type="button" class="btn btn-primary" value="Visualizar" ng-click="detalhes(dia.dia)"/>
					</td>
				</tr>
			</table>
		</div>

		<div id="resultadoDetalhes" class="modal fade">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title">Detalhes</h4>
		      </div>
		      <div class="modal-body">
	        	<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<th class="col-md-2">
								Fornecedor
							</th>
							<th class="col-md-3">
								Descrição
							</th>
							<th class="col-md-2">
								Categoria
							</th>
							<th class="col-md-1">
								Qtdd
							</th>
							<th class="col-md-2">
								Valor unitário
							</th>
							<th class="col-md-2">
								Valor Compra
							</th>
						</thead>
						<tr ng-repeat="produto in compras track by $index">
							<td>
								<span ng-bind="produto.fornecedor"></span>
							</td>
							<td>
								<span ng-bind="produto.item"></span>
							</td>
							<td>
								<span ng-bind="produto.categoria"></span>
							</td>
							<td>
								<span ng-bind="produto.quantidade"></span>
							</td>
							<td>
								<span ng-bind="produto.preco_unit | currency:'R$ '"></span>
							</td>
							<td>
								<span ng-bind="(produto.preco_unit * produto.quantidade) | currency:'R$ '"></span>
							</td>
						</tr>
					</table>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
	<div class="container">
		<hr>
		<% include basic/footer %>
	</div>
</body>
</html>