.vertical-offset-100{
    padding-top:100px;
}
.tabela-venda {
	background-color: #ffffff;
}
.parte-cima {
	min-height: 240px !important;
	max-height: 240px !important;
	overflow:auto;
	border: 1px solid #000000;
	margin-right: 0 !important;
    margin-left: 0 !important;
}
.parte-baixo {
	height: 100px;
}
.totalizadores {
	background-color: #ffffff;
	font-size: 16px;
	min-height: 240px !important;
	padding: 30px !important;
}
.valor-total {
	font-weight: bold;
	font-size: 20px;
}
.caixa-botao {
  margin: 10px 0;
}